<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>New joke</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container-fluid">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="text-center">New joke</h2>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4"></div>						
							<div class="col-sm-4 col-md-4 col-lg-4">
								<form th:action="@{/create-new}" method="post">
									<table class="table table-borderless">
										<tr>
											<td>Content</td>
											<td><textarea rows="4" cols="40" id="content" name="content"  class="form-control" autofocus="autofocus"></textarea></td>
										</tr>
										<tr>
											<td>Select category</td>
											<td>
												<select id="category" name="category">
													<th:block th:each="category : ${categories}">
														<option th:text="${category.name}"></option>												
													</th:block>
												</select>
											</td>
										</tr>
										<tr>
											<td>
												<input type="submit" name="btnCreateJoke" id="btnCreateJoke" class="btn btn-primary" value="Create joke"/>
											</td>
										</tr>
									</table>
								</form>
							</div>
						<div class="col-sm-4 col-md-4 col-lg-4"></div>
					</div>
				</div>
			</div>		
		</div>
	</body>
</html>